img, iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.custom {
  background-color: #000000 !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 0px solid;   /*Top Border for each menu item*/
  border-bottom: 0px solid;   /*Bottom border for each menu item*/
  border-color: #000000;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

.slider { height: 100%; text-align: center }
.scroll { height: 100% }

.custom .list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  background-color: transparent;
}
.custom .list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.custom .list .item.item-accordion.ng-hide-add,
.custom .list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.html_body {
  color: #ffffff;
  background-color: #f0f0f0;
}
